.App {
  padding-left: 15%;
  padding-right: 15%;
}
.converterTitle{
  font-size:40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.converterField{
  font-size: 14px;
  font-weight: 500;
  color: rgb(179, 179, 179);
}
.main-container {
  align-items: left;
}
h1{
  margin-top:3vh;
  margin-bottom: 5vh;
}
.table-responsive{
  width: 100%;
  margin-bottom: 20px;
  overflow-y: hidden;
}
input{
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
  width: 20vh;
  border: 2px solid darkgray;
  border-width: 0.1vh;
}
.left .middle,.right{
  width: 150px;
}
.result{
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
  padding-top:15px;
}
.save-button{
  outline: none;
  background-color: blanchedalmond;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  line-height: 20px;
  margin: 0;
}
p,h3, .switch{
  color: darkgray;
  font-size:15px;
}
p{
  font-size: 30px;
}
.Dropdown-menu{
  width:10vh; 
  z-index: 999;
  position: sticky;
}
.newModal{
  background-color: white;
  border-radius: 5px;
  max-width: 800px;
  height: 100%;
  min-height: 600px;
  padding: 30px;
  margin-left: 30%;
  margin-right:30%;
}
.closeButton{
  margin-left: 80%;
}
.btn{
  line-height: 1;
}
.fieldText{
  font-size: 21px;
  color:darkslategrey;
  display: inline;
}
.smallText{
  font-size: 15px;
  color:darkslategrey
}